body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side-bar {
    width: 200px;
    height: 100%;
    background-color: black;
    overflow: auto;
    position: fixed;
}
.side-bar a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
}
.content {
    margin-left: 200px;
    padding: 1px 16px;
}
.side-bar a:hover:not(.active){
    background-color: rgb(66, 66, 66);
}
.title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(202, 199, 199);
}
.title a {
    text-decoration: none;
    padding-top: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
}
.row {
    margin: 0 -5px 15px 0px;
}
h4 {
  padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 10px;
}
.column__card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.button-menu {
  border: none;
  font-size: 25px;
  font-weight: 600;
}
.form__add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:50%;
}
.form__add button {
  margin-top: 10px;
  outline: none;
  border: none;
  color: white;
  padding: 10px;
  background-color: #1d52ff;
}
.form__add input {
  padding: 10px;
  margin-top: 10px;
}
.form__add select {
  margin-top: 10px;
}
.form {
  display: none;
  margin-left: 200px;
  padding: 10px;
}
.form__close {
  width: 10%;
  padding-left: 4px;
}
.form__close img {
  cursor: pointer;
}
#formClose {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:transform .8s ease-in-out;
}
#formClose {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

@media screen and (max-width:700px) {
    .side-bar{
        width: 100%;
        height: auto;
        position: relative;
    }
    .side-bar a {
        float: left;
        padding: 15px;
    }
    .content {
        margin-left: 0px;
    }
    .form {
      margin-left: 0;
    }
    .form__add {
      width: 90%;
    }
}
@media screen and (max-width:400px) {
    .side-bar a {
        text-align: center;
        float: none;
    }
}
table
{
margin-left: 10px;
  border: #ccc solid 1px;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
table caption
{
  font-size: 1.3em;
  margin: 0.5em 0 0.75em;
}
table tr
{
  background: #f8f8f8;
  border: #ddd solid 1px;
  padding: 0.35em;
}
table th, table td
{
  padding: 0.625em;
  text-align: center;
}
@media screen and (max-width:600px)
{
table
{
  border: 0;
}
table caption
{
  font-size: 1.3em;
}
table thead
{
  display: none;
}
table tr
{
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: 0.625em;
}
table td
{
  border-bottom: 1px solid #ddd;
  display: block;
  text-align: right;
}
table td:before
{
  content: attr(aria-label);
  float: left;
  font-weight: bold;
}
table td:last-child
{
  border-bottom: 0;
}
}
